
.blob{
    /* background-image: url(https://img.cricketworld.com/images/f-065804/kane-williamson-2.jpg); */
    background-image: url("/public/Aman Aryan.jpeg");

    width: 330px;
    height: 380px;
    background-size: cover;
    background-position: center ;
    margin: 5px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.3); 
    border-radius: 50%;
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
}

@keyframes animate{
    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}